# Node
node_modules/

# Frontend build
frontend/dist/

# Env
.env

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories
.vscode/
.idea/

# Dependency directories
bower_components/

# Lock files (optional)
# package-lock.json
# yarn.lock

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# AI Models
*.pt
*.h5
runs/
